In [1]:
import numpy as np
import pandas as pd 
import ipaddress
import matplotlib.pyplot as plt
from sklearn.preprocessing import StandardScaler
pd.set_option('display.max_columns', None)

In [2]:
creditcard_data = pd.read_csv(r"C:\Users\ephre\Documents\Fraud-Detection-for-E-Commerce-and-Banking-Transactions---AI-Solutions\Data\Cleaned_Data\Creditcard_cleaned_Data.csv")
fraud_data = pd.read_csv(r"C:\Users\ephre\Documents\Fraud-Detection-for-E-Commerce-and-Banking-Transactions---AI-Solutions\Data\Cleaned_Data\fraud_cleaned_Data.csv")
ip_to_country = pd.read_csv(r"C:\Users\ephre\Documents\Fraud-Detection-for-E-Commerce-and-Banking-Transactions---AI-Solutions\Data\Cleaned_Data\ip_to_country_cleaned_Data.csv")

In [3]:
creditcard_data.sample(7)

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,V10,V11,V12,V13,V14,V15,V16,V17,V18,V19,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
118269,75195.0,-1.274047,0.586653,1.085706,1.055779,-0.750520,0.373409,1.045841,0.503581,-1.321233,-0.577847,1.444451,0.768166,0.049752,0.847414,0.621312,-0.215153,0.055773,0.301373,0.170898,0.439943,0.439939,0.722936,0.357683,0.205597,0.194177,-0.208053,-0.079564,0.046693,250.00,0
40593,40393.0,1.087233,-0.919047,0.097149,0.185226,-0.404768,0.986686,-0.612788,0.126250,-0.750372,0.769742,-0.603640,0.665079,1.504436,-0.333351,-0.352690,-0.776572,-0.993320,2.390005,-0.227565,-0.109493,-0.203070,-0.259715,-0.421431,-1.372531,0.704331,-0.152238,0.050173,0.034675,158.00,0
139666,83591.0,-1.800514,1.954119,0.627724,0.605019,-0.377894,0.492956,-0.499487,1.327172,-1.115839,-0.956165,-1.345515,0.690382,1.541364,0.789401,1.503491,0.296672,0.084261,-0.085012,0.542613,-0.256927,-0.009559,-0.435294,-0.090196,-0.973907,0.280619,-0.416472,-0.504238,-0.147940,14.99,0
108652,71207.0,1.385008,-0.134756,-0.367796,-0.429413,-0.633090,-1.687540,0.020125,-0.446479,-1.217310,0.277134,0.387251,-0.484126,0.409262,-0.933666,0.455169,0.934308,1.230186,-1.266446,0.331592,0.139098,0.221118,0.578854,-0.181880,0.692224,0.777945,-0.061950,-0.013640,0.029907,29.00,0
251694,155892.0,-0.504682,1.625319,-2.445679,0.286529,0.647267,-0.462829,1.143388,0.647575,-1.049391,-0.917402,0.170493,-0.467713,-1.881718,0.569023,-0.676250,0.648177,0.404627,1.121134,-0.461091,-0.530864,0.278936,0.443661,0.044070,0.129440,-0.292750,-0.680095,-0.233368,-0.048067,119.99,0
116416,74463.0,1.218627,-0.128812,0.141470,-0.060660,-0.428191,-0.618853,-0.102843,-0.054681,0.020196,0.056376,1.034679,0.440906,-0.482828,0.531158,0.436640,0.551594,-0.643863,0.287739,0.360855,-0.025846,0.058301,0.077852,-0.118862,0.082077,0.366207,1.071790,-0.098064,-0.008509,33.20,0
90679,63268.0,-0.845755,1.339517,1.930412,1.170314,0.865342,-0.067552,0.953945,0.073735,-1.803591,0.080637,0.729643,0.438609,0.429343,0.249585,-0.882166,1.002884,-1.210006,0.335460,-1.085772,-0.073931,0.099867,0.138252,-0.432091,0.013305,0.610580,-0.047337,-0.002520,0.049496,0.00,0

In [4]:
fraud_data.sample(7)

,user_id,signup_time,purchase_time,purchase_value,device_id,source,browser,sex,age,ip_address,class,hour_of_day,day_of_week,signup_month,signup_day,signup_hour,purchase_month,purchase_day,purchase_hour
14931,339499,2015-02-15 06:24:27,2015-02-17 04:15:07,38.0,BCBKRUJPRJVWW,Ads,Chrome,M,23,2.285345e+09,0,4,1,2,15,6,2,17,4
17949,72622,2015-08-03 18:20:20,2015-08-26 22:55:50,87.0,MJUYBYHEZUTNW,Ads,IE,F,52,2.030975e+09,0,22,2,8,3,18,8,26,22
18555,99201,2015-08-08 09:57:31,2015-10-18 00:03:22,65.0,AVZYTPQFCPKCR,Ads,FireFox,F,34,1.301090e+09,0,0,6,8,8,9,10,18,0
37091,95464,2015-05-29 07:05:03,2015-06-19 00:05:08,36.0,ABOTUVUHFSBUU,SEO,Safari,M,25,2.382968e+07,0,0,4,5,29,7,6,19,0
110606,312811,2015-08-12 14:17:09,2015-12-03 11:14:39,42.0,XYBTJWNKIXHRJ,SEO,IE,M,34,2.871919e+09,0,11,3,8,12,14,12,3,11
59333,337392,2015-01-13 14:53:47,2015-02-28 00:00:41,41.0,OQKYLXUTFHOMB,SEO,Chrome,F,44,3.853246e+09,0,0,5,1,13,14,2,28,0
112528,215264,2015-01-24 03:03:40,2015-03-16 22:45:24,18.0,TCRVDJETZPPKY,Ads,Chrome,F,23,1.174207e+09,0,22,0,1,24,3,3,16,22

In [5]:
ip_to_country.sample(7)

        lower_bound_ip_address  upper_bound_ip_address         country
10945             1.159791e+09              1159856127   United States
74334             3.237304e+09              3237304063   United States
60090             3.222013e+09              3222012927   United States
69967             3.231119e+09              3231119615  United Kingdom
50474             2.973145e+09              2973147135          Brazil
118036            3.409431e+09              3409431551       Australia
28607             1.728348e+09              1728349183        Viet Nam

In [6]:
# Assuming fraud_data['ip_address'] is already numeric (integer representation)
ip_to_country['lower_bound_ip_address'] = ip_to_country['lower_bound_ip_address'].astype(float).astype(int)
ip_to_country['upper_bound_ip_address'] = ip_to_country['upper_bound_ip_address'].astype(float).astype(int)

# Now, define a function to map IP to a country
def map_country(ip, ip_df):
    result = ip_df[(ip_df['lower_bound_ip_address'] <= ip) & (ip_df['upper_bound_ip_address'] >= ip)]
    return result['country'].values[0] if len(result) > 0 else np.nan

# Apply the function to map the IP addresses to their respective countries
fraud_data['country'] = fraud_data['ip_address'].apply(lambda x: map_country(x, ip_to_country))

In [7]:
import ipaddress

# Convert the ip_address column in fraud_data to integers
fraud_data['ip_address'] = fraud_data['ip_address'].apply(lambda x: int(ipaddress.ip_address(x)) if isinstance(x, str) else x)

# Convert the lower and upper IP address bounds in the ip_to_country DataFrame to integers
ip_to_country['lower_bound_ip_address'] = ip_to_country['lower_bound_ip_address'].apply(lambda x: int(ipaddress.ip_address(x)) if isinstance(x, str) else x)
ip_to_country['upper_bound_ip_address'] = ip_to_country['upper_bound_ip_address'].apply(lambda x: int(ipaddress.ip_address(x)) if isinstance(x, str) else x)

# Now map the country based on IP address
fraud_data['country'] = fraud_data['ip_address'].apply(lambda x: map_country(x, ip_to_country))

In [8]:
fraud_data.head()

,user_id,signup_time,purchase_time,purchase_value,device_id,source,browser,sex,age,ip_address,class,hour_of_day,day_of_week,signup_month,signup_day,signup_hour,purchase_month,purchase_day,purchase_hour,country
0,22058,2015-02-24 22:55:49,2015-04-18 02:47:11,34.0,QVPSPJUOCKZAR,SEO,Chrome,M,39,7.327584e+08,0,2,5,2,24,22,4,18,2,Japan
1,333320,2015-06-07 20:39:50,2015-06-08 01:38:54,16.0,EOGFQPIZPYXFZ,Ads,Chrome,F,53,3.503114e+08,0,1,0,6,7,20,6,8,1,United States
2,1359,2015-01-01 18:52:44,2015-01-01 18:52:45,15.0,YSSKYOSJHPPLJ,SEO,Opera,M,53,2.621474e+09,1,18,3,1,1,18,1,1,18,United States
3,150084,2015-04-28 21:13:25,2015-05-04 13:54:50,44.0,ATGTXKYKUDUQN,SEO,Safari,M,41,3.840542e+09,0,13,0,4,28,21,5,4,13,NaN
4,221365,2015-07-21 07:09:52,2015-09-09 18:40:53,39.0,NAUITBZFJKHWW,Ads,Safari,M,45,4.155831e+08,0,18,2,7,21,7,9,9,18,United States

In [9]:
fraud_data['country'] = fraud_data['ip_address'].apply(lambda x: map_country(x, ip_to_country))

creditcard_data.rename(columns={'Class': 'Class_creditcard'}, inplace=True)
fraud_data.rename(columns={'class': 'class_fraud'}, inplace=True)

missing_cols_in_fraud = set(creditcard_data.columns) - set(fraud_data.columns)
missing_cols_in_credit = set(fraud_data.columns) - set(creditcard_data.columns)

for col in missing_cols_in_fraud:
    fraud_data[col] = np.nan
for col in missing_cols_in_credit:
    creditcard_data[col] = np.nan

combined_data = pd.concat([fraud_data, creditcard_data], ignore_index=True)

# Inspect the merged dataset
combined_data.head()

,user_id,signup_time,purchase_time,purchase_value,device_id,source,browser,sex,age,ip_address,class_fraud,hour_of_day,day_of_week,signup_month,signup_day,signup_hour,purchase_month,purchase_day,purchase_hour,country,V11,V20,V2,Time,V9,Amount,V4,Class_creditcard,V18,V13,V28,V5,V3,V6,V19,V24,V21,V10,V15,V17,V25,V26,V16,V1,V27,V14,V7,V8,V22,V12,V23
0,22058.0,2015-02-24 22:55:49,2015-04-18 02:47:11,34.0,QVPSPJUOCKZAR,SEO,Chrome,M,39.0,7.327584e+08,0.0,2.0,5.0,2.0,24.0,22.0,4.0,18.0,2.0,Japan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,333320.0,2015-06-07 20:39:50,2015-06-08 01:38:54,16.0,EOGFQPIZPYXFZ,Ads,Chrome,F,53.0,3.503114e+08,0.0,1.0,0.0,6.0,7.0,20.0,6.0,8.0,1.0,United States,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1359.0,2015-01-01 18:52:44,2015-01-01 18:52:45,15.0,YSSKYOSJHPPLJ,SEO,Opera,M,53.0,2.621474e+09,1.0,18.0,3.0,1.0,1.0,18.0,1.0,1.0,18.0,United States,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,150084.0,2015-04-28 21:13:25,2015-05-04 13:54:50,44.0,ATGTXKYKUDUQN,SEO,Safari,M,41.0,3.840542e+09,0.0,13.0,0.0,4.0,28.0,21.0,5.0,4.0,13.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,221365.0,2015-07-21 07:09:52,2015-09-09 18:40:53,39.0,NAUITBZFJKHWW,Ads,Safari,M,45.0,4.155831e+08,0.0,18.0,2.0,7.0,21.0,7.0,9.0,9.0,18.0,United States,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
combined_data.sample(10)

,user_id,signup_time,purchase_time,purchase_value,device_id,source,browser,sex,age,ip_address,class_fraud,hour_of_day,day_of_week,signup_month,signup_day,signup_hour,purchase_month,purchase_day,purchase_hour,country,V11,V20,V2,Time,V9,Amount,V4,Class_creditcard,V18,V13,V28,V5,V3,V6,V19,V24,V21,V10,V15,V17,V25,V26,V16,V1,V27,V14,V7,V8,V22,V12,V23
391552,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.283698,-0.429668,-1.685001,150983.0,-0.915611,413.38,-1.968603,0.0,-2.266075,-0.181794,-0.552767,-1.235562,-1.166239,2.109784,-0.252548,-0.858392,-0.336334,-0.430378,-0.623848,0.903123,0.251371,-0.447619,1.341350,-4.600396,0.591635,0.427898,-0.022616,1.606652,-0.827644,0.210115,-1.110426
112144,188878.0,2015-03-08 19:34:28,2015-06-13 17:16:48,32.0,EVUTXLNKUDLIZ,Ads,IE,M,35.0,1.331514e+09,0.0,17.0,5.0,3.0,8.0,19.0,6.0,13.0,17.0,France,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
151634,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.381592,-1.148674,1.311592,393.0,1.724535,64.04,-1.127849,0.0,-0.183239,-0.247811,0.047078,0.307467,1.323081,-0.518202,1.075631,0.485594,3.980384,0.198680,2.501395,0.732979,-0.535158,-0.684143,-1.432127,-2.595500,-0.422542,0.046902,-2.098817,-4.382469,-0.835845,0.780890,-1.786329
248447,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.888186,0.255261,0.937945,66347.0,-0.752393,0.89,0.780571,0.0,0.032650,1.196589,0.157697,0.345136,1.229939,-0.197595,1.967575,-0.425194,-0.171346,-0.041749,1.694157,-0.155543,-0.646141,0.302630,-0.230442,-0.056056,0.151851,0.086488,0.460872,-0.111191,-0.427062,0.065071,-0.042272
368790,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.552986,3.010061,-10.300501,141322.0,-0.084606,99.95,2.562664,0.0,0.223555,0.901310,0.377710,10.375565,0.424264,-7.064034,1.586914,-0.374472,0.938626,0.656458,-0.213646,-0.024165,-0.033064,0.619070,-0.815601,-7.472895,-0.293285,0.920100,-5.857311,0.695367,-0.441595,1.645345,2.082855
39234,63682.0,2015-07-04 23:32:29,2015-09-25 19:48:10,63.0,ULPOYBUZTQNXC,SEO,Chrome,F,52.0,1.592409e+09,0.0,19.0,4.0,7.0,4.0,23.0,9.0,25.0,19.0,Sweden,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
250693,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.171043,-0.978477,0.368400,67359.0,-0.437527,66.07,1.102369,0.0,0.298076,-0.678906,-0.120466,0.008120,1.693235,-0.050468,1.143826,0.503972,1.205844,-0.009872,-0.125305,0.021426,0.535444,-0.349154,-0.257476,-2.126888,0.377325,0.314161,0.154038,-1.588360,-0.629862,0.593557,0.729037
211286,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-1.222817,0.090751,-0.583591,49317.0,-0.410886,17.00,-0.618153,0.0,-1.544656,0.279392,0.007450,-0.749402,0.193371,-0.397893,1.209442,-0.297961,-0.063561,0.485609,-0.447008,0.410395,0.655441,-0.200867,0.783774,1.430954,0.012263,-0.530828,-0.550009,-0.129752,-0.097208,-0.514952,-0.129802
103152,262415.0,2015-04-14 03:39:22,2015-07-10 22:42:29,27.0,MPAVOCEAHZIHD,Direct,FireFox,F,30.0,2.796402e+09,0.0,22.0,4.0,4.0,14.0,3.0,7.0,10.0,22.0,United States,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
255560,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.350403,0.250151,0.383723,69264.0,-0.872640,72.46,1.272432,0.0,-0.368397,-0.266641,-0.175933,0.107567,1.199938,-0.453948,0.454619,0.040726,0.028609,-0.539499,1.687034,0.425211,0.273899,-0.355276,-0.436275,-1.268499,-0.103278,0.784584,0.120176,0.507768,-0.412291,-0.053988,0.055355

In [11]:
# Drop columns with more than 65% missing values
combined_data = combined_data.dropna(thresh=combined_data.shape[0] * 0.20, axis=1)

In [12]:
# Example of filling missing values
combined_data['country'].fillna('Unknown', inplace=True)  # For categorical columns

C:\Users\ephre\AppData\Local\Temp\ipykernel_18496\3989163506.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  combined_data['country'].fillna('Unknown', inplace=True)  # For categorical columns

In [13]:
# Fill missing values in numerical columns with the mean
combined_data['age'] = combined_data['age'].fillna(combined_data['age'].mean())

# Fill missing values in categorical columns with the mode
combined_data['sex'] = combined_data['sex'].fillna(combined_data['sex'].mode()[0])
combined_data['browser'] = combined_data['browser'].fillna(combined_data['browser'].mode()[0])

In [14]:
numerical_columns = ["purchase_value", "age", "class_fraud", "Class_creditcard", "V3", "V27", "V14", "V18", "V10", "V21", "V8", "V23", "V1", "V5", "V19", "V22", "V17", "V16", "V9", "V12", "V2", "V26", "V15", "V7", "V24", "V13", "V25", "V20", "V11", "V28", "V4", "V6", "purchase_month", "purchase_day", "purchase_hour"]

# Apply mean filling to all numerical columns
for col in numerical_columns:
    combined_data[col] = combined_data[col].fillna(combined_data[col].mean())

# Check the resulting DataFrame
combined_data.head()

,user_id,signup_time,purchase_time,purchase_value,device_id,source,browser,sex,age,ip_address,class_fraud,hour_of_day,day_of_week,signup_month,signup_day,signup_hour,purchase_month,purchase_day,purchase_hour,country,V11,V20,V2,Time,V9,Amount,V4,Class_creditcard,V18,V13,V28,V5,V3,V6,V19,V24,V21,V10,V15,V17,V25,V26,V16,V1,V27,V14,V7,V8,V22,V12,V23
0,22058.0,2015-02-24 22:55:49,2015-04-18 02:47:11,34.0,QVPSPJUOCKZAR,SEO,Chrome,M,39.0,7.327584e+08,0.0,2.0,5.0,2.0,24.0,22.0,4.0,18.0,2.0,Japan,0.000202,0.000187,-0.004135,NaN,-0.001596,NaN,-0.002966,0.001667,0.001515,0.000603,0.000547,0.001828,0.001613,-0.001139,-0.000264,0.000214,-0.000371,-0.001441,0.001043,0.00017,-0.000232,0.000149,0.001162,0.005917,0.001763,0.000252,0.001801,-0.000854,-0.000015,-0.000715,0.000198
1,333320.0,2015-06-07 20:39:50,2015-06-08 01:38:54,16.0,EOGFQPIZPYXFZ,Ads,Chrome,F,53.0,3.503114e+08,0.0,1.0,0.0,6.0,7.0,20.0,6.0,8.0,1.0,United States,0.000202,0.000187,-0.004135,NaN,-0.001596,NaN,-0.002966,0.001667,0.001515,0.000603,0.000547,0.001828,0.001613,-0.001139,-0.000264,0.000214,-0.000371,-0.001441,0.001043,0.00017,-0.000232,0.000149,0.001162,0.005917,0.001763,0.000252,0.001801,-0.000854,-0.000015,-0.000715,0.000198
2,1359.0,2015-01-01 18:52:44,2015-01-01 18:52:45,15.0,YSSKYOSJHPPLJ,SEO,Opera,M,53.0,2.621474e+09,1.0,18.0,3.0,1.0,1.0,18.0,1.0,1.0,18.0,United States,0.000202,0.000187,-0.004135,NaN,-0.001596,NaN,-0.002966,0.001667,0.001515,0.000603,0.000547,0.001828,0.001613,-0.001139,-0.000264,0.000214,-0.000371,-0.001441,0.001043,0.00017,-0.000232,0.000149,0.001162,0.005917,0.001763,0.000252,0.001801,-0.000854,-0.000015,-0.000715,0.000198
3,150084.0,2015-04-28 21:13:25,2015-05-04 13:54:50,44.0,ATGTXKYKUDUQN,SEO,Safari,M,41.0,3.840542e+09,0.0,13.0,0.0,4.0,28.0,21.0,5.0,4.0,13.0,Unknown,0.000202,0.000187,-0.004135,NaN,-0.001596,NaN,-0.002966,0.001667,0.001515,0.000603,0.000547,0.001828,0.001613,-0.001139,-0.000264,0.000214,-0.000371,-0.001441,0.001043,0.00017,-0.000232,0.000149,0.001162,0.005917,0.001763,0.000252,0.001801,-0.000854,-0.000015,-0.000715,0.000198
4,221365.0,2015-07-21 07:09:52,2015-09-09 18:40:53,39.0,NAUITBZFJKHWW,Ads,Safari,M,45.0,4.155831e+08,0.0,18.0,2.0,7.0,21.0,7.0,9.0,9.0,18.0,United States,0.000202,0.000187,-0.004135,NaN,-0.001596,NaN,-0.002966,0.001667,0.001515,0.000603,0.000547,0.001828,0.001613,-0.001139,-0.000264,0.000214,-0.000371,-0.001441,0.001043,0.00017,-0.000232,0.000149,0.001162,0.005917,0.001763,0.000252,0.001801,-0.000854,-0.000015,-0.000715,0.000198

In [15]:
# List of columns you want to drop
columns_to_drop = ['user_id', 'signup_time', 'purchase_time', 'device_id', 'source', 'hour_of_day', 'day_of_week', 'signup_month', 'signup_day', 'signup_hour', 'Time']

# Drop the columns from the DataFrame
combined_data = combined_data.drop(columns=columns_to_drop)

# Check the resulting DataFrame
combined_data.head()

,purchase_value,browser,sex,age,ip_address,class_fraud,purchase_month,purchase_day,purchase_hour,country,V11,V20,V2,V9,Amount,V4,Class_creditcard,V18,V13,V28,V5,V3,V6,V19,V24,V21,V10,V15,V17,V25,V26,V16,V1,V27,V14,V7,V8,V22,V12,V23
0,34.0,Chrome,M,39.0,7.327584e+08,0.0,4.0,18.0,2.0,Japan,0.000202,0.000187,-0.004135,-0.001596,NaN,-0.002966,0.001667,0.001515,0.000603,0.000547,0.001828,0.001613,-0.001139,-0.000264,0.000214,-0.000371,-0.001441,0.001043,0.00017,-0.000232,0.000149,0.001162,0.005917,0.001763,0.000252,0.001801,-0.000854,-0.000015,-0.000715,0.000198
1,16.0,Chrome,F,53.0,3.503114e+08,0.0,6.0,8.0,1.0,United States,0.000202,0.000187,-0.004135,-0.001596,NaN,-0.002966,0.001667,0.001515,0.000603,0.000547,0.001828,0.001613,-0.001139,-0.000264,0.000214,-0.000371,-0.001441,0.001043,0.00017,-0.000232,0.000149,0.001162,0.005917,0.001763,0.000252,0.001801,-0.000854,-0.000015,-0.000715,0.000198
2,15.0,Opera,M,53.0,2.621474e+09,1.0,1.0,1.0,18.0,United States,0.000202,0.000187,-0.004135,-0.001596,NaN,-0.002966,0.001667,0.001515,0.000603,0.000547,0.001828,0.001613,-0.001139,-0.000264,0.000214,-0.000371,-0.001441,0.001043,0.00017,-0.000232,0.000149,0.001162,0.005917,0.001763,0.000252,0.001801,-0.000854,-0.000015,-0.000715,0.000198
3,44.0,Safari,M,41.0,3.840542e+09,0.0,5.0,4.0,13.0,Unknown,0.000202,0.000187,-0.004135,-0.001596,NaN,-0.002966,0.001667,0.001515,0.000603,0.000547,0.001828,0.001613,-0.001139,-0.000264,0.000214,-0.000371,-0.001441,0.001043,0.00017,-0.000232,0.000149,0.001162,0.005917,0.001763,0.000252,0.001801,-0.000854,-0.000015,-0.000715,0.000198
4,39.0,Safari,M,45.0,4.155831e+08,0.0,9.0,9.0,18.0,United States,0.000202,0.000187,-0.004135,-0.001596,NaN,-0.002966,0.001667,0.001515,0.000603,0.000547,0.001828,0.001613,-0.001139,-0.000264,0.000214,-0.000371,-0.001441,0.001043,0.00017,-0.000232,0.000149,0.001162,0.005917,0.001763,0.000252,0.001801,-0.000854,-0.000015,-0.000715,0.000198

In [16]:
# combined_data = combined_data.dropna()

In [17]:
combined_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 0 entries
Data columns (total 40 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   purchase_value    0 non-null      float64
 1   browser           0 non-null      object
 2   sex               0 non-null      object
 3   age               0 non-null      float64
 4   ip_address        0 non-null      float64
 5   class_fraud       0 non-null      float64
 6   purchase_month    0 non-null      float64
 7   purchase_day      0 non-null      float64
 8   purchase_hour     0 non-null      float64
 9   country           0 non-null      object
 10  V11               0 non-null      float64
 11  V20               0 non-null      float64
 12  V2                0 non-null      float64
 13  V9                0 non-null      float64
 14  Amount            0 non-null      float64
 15  V4                0 non-null      float64
 16  Class_creditcard  0 non-null      float64
 17  V18               0 non-null      float64
 18  V13               0 non-null      float64
 19  V28               0 non-null      float64
 20  V5                0 non-null      float64
 21  V3                0 non-null      float64
 22  V6                0 non-null      float64
 23  V19               0 non-null      float64
 24  V24               0 non-null      float64
 25  V21               0 non-null      float64
 26  V10               0 non-null      float64
 27  V15               0 non-null      float64
 28  V17               0 non-null      float64
 29  V25               0 non-null      float64
 30  V26               0 non-null      float64
 31  V16               0 non-null      float64
 32  V1                0 non-null      float64
 33  V27               0 non-null      float64
 34  V14               0 non-null      float64
 35  V7                0 non-null      float64
 36  V8                0 non-null      float64
 37  V22               0 non-null      float64
 38  V12               0 non-null      float64
 39  V23               0 non-null      float64
dtypes: float64(37), object(3)
memory usage: 0.0+ bytes

In [18]:
# from sklearn.preprocessing import StandardScaler, MinMaxScaler

# # Columns to scale
# numerical_columns = ['purchase_value', 'age', 'transaction_count', 'hour_of_day', 'day_of_week']  # Add more numerical columns as needed

# # Standardization
# scaler = StandardScaler()
# combined_data[numerical_columns] = scaler.fit_transform(combined_data[numerical_columns])

# # OR MinMax Scaling
# # scaler = MinMaxScaler()
# # combined_data[numerical_columns] = scaler.fit_transform(combined_data[numerical_columns])

In [19]:
# # Categorical columns to encode
# categorical_columns = ['browser', 'sex', 'country']

# # Apply One-Hot Encoding
# combined_data_clean = pd.get_dummies(combined_data_clean, columns=categorical_columns, drop_first = False)

In [20]:
# numerical_columns = ["purchase_value", "age", "class" ,"transaction_count","V3", "V27","V14","V18","V10","V21","V8","V23","V1","V5","V19","V22","V17","V16","V9","V12","V2","V26","V15","V7","V24","V13","V25","V20","V11","V28","V4","V6","purchase_month","purchase_day","purchase_hour"]
# scaler = StandardScaler()
# combined_data[numerical_columns] = scaler.fit_transform(combined_data[numerical_columns])

In [21]:
# # Categorical columns to encode
# categorical_columns = ['browser', 'sex', 'country']

# # Apply One-Hot Encoding
# combined_data = pd.get_dummies(combined_data, columns=categorical_columns, drop_first=True)